

<div class="container-fluid" ng-controller="CarouselDemoCtrl" id="content" style="background-color: #7986CB" >

    <br><br><br><br><br><br>
    <div class="row">
    <div class="col-md-12">
    <div class="col-md-6" ng-repeat="j in slides">
        <md-card >
            <img ng-src= "{{j.image}}" class="md-card-image " alt="Washed Out">
            <md-card-title >
                <md-card-title-text>
                    <span class="md-headline">{{j.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p> {{j.content}}</p>
            </md-card-content>
            <md-card-actions layout="column" layout-align="start">
                <md-button class="md-raised md-button md-ink-ripple" type="button"> Action1 </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
    </div>
    </div>



    <!--

        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-image" ng-repeat="slide in slides">
                        <div class="col-md-4">
                            <img ng-src="{{slide.image}}" >
                        </div>
                        <span class="card-title">Card Title</span>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>



                </div>
                </div>
            </div>
        </div>

    -->






    </div>






    <!--
<div class="container-fluid" style="background-color: #4FC3F7">
    <div class="col-md-12">
        <br><br><br>
        <p id="albums" style="text-align: center;color:#C62828;font-family: 'Boogaloo', cursive;font-size:42px"> ALBUMS </p>
    </div>

        &lt;!&ndash;<div class="zoomin frame">&ndash;&gt;
            <div class="row">
                <div class="col-md-4" ng-repeat="slide in slides">
                    <img ng-src="{{slide.image}}" >
                </div>
            </div>
            <br>
            &lt;!&ndash; <div class="row">
                 <div ng-controller="imagesTwo">
                     <div class="col-md-4" ng-repeat="two in images">
                         <img ng-src="{{two.image}}">
                     </div>
                 </div>
         </div>&ndash;&gt;
        </div>
    </div>
&lt;!&ndash;</div>&ndash;&gt;
-->























<!--
<div ng-controller="albumOneCtrl" class="container-fluid" id="albumOne">
    <div class="col-md-3">



    </div>




</div>-->
