<div class="container-fluid" ng-controller="contactController" id="content" style="padding-top: 8%;padding-bottom:5%;background-color: #B3E5FC">

 <!--   <h1 style="color:black">Hello</h1>
    <p ng-repeat="one in stuff" style="color:black">{{one.matter}}</p>-->

    <div class="row" style="min-height: 445px;">
         <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:5%">
        <div class="col-md-6 col-sm-6 col-xs-12 seperation" >
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12" >
                    <h3 align="center" style="color:#000">GET IN TOUCH</h3>
                      <hr class="line">
               <form >
                <input type="text" placeholder="Name" class="form-control">
                <input type="email" placeholder="Email" class="form-control topSpace">

                    <textarea cols="2" rows="5" class="form-control topSpace" placeholder="Shoot me some questions :)" style="resize: none"></textarea>
               <div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-6 col-xs-offset-3 topSpace">
                   <md-button class="md-raised md-button sendBtn" align="center">Send</md-button>
                   </div>
               </form>
                </div>
            </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" align="right">
                <h3 align="center" style="color:black">Social Networks</h3>
                <hr class="line">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                   
                    <a href="https://www.linkedin.com/in/sai-hanuman-8a0b62104/" target="_blank" class="customHyper">
                        <div class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1 topSpace linkedin border" align="center" >
                        <i class="fa fa-linkedin li" aria-hidden="true" style="font-size: 23px;text-align: center;"></i>
                    </div> </a>
                    <a href="http://instagram.com/hanuclicks" target="_blank" class="customHyper">
                        <div class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1  topSpace instagram border" align="center">
                        <i class="fa fa-instagram insta" aria-hidden="true" style="font-size: 23px;text-align: center;"></i>
                    </div> </a>
                    <a href="https://www.github.com/Hanu73" target="_blank" class="customHyper">
                        <div class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1  topSpace github border" align="center" >
                            <i class="fa fa-github git" aria-hidden="true" style="font-size: 23px;text-align: center;"></i>
                        </div> </a>
                </div>

            </div>
        </div>

         </div>
    </div>
   <!-- <button class="btn btn-primary" ng-click="getLocation()">Location</button>
    <div class="row">
        <input type="text" ng-model="location">

    </div>-->
</div>
